---
import AstroIcon from "../icons/astroIcon.astro";
import TailwindIcon from "../icons/tailwindIcon.astro";
---

<footer class="pb-44 flex justify-end max-md:px-10 md:px-10">
  <div class="flex">
    <p class="px-5 text-black dark:text-white">Tecnologías en este portafolio</p>
    <AstroIcon></AstroIcon>
    <TailwindIcon></TailwindIcon>
  </div>
</footer>
