<div class="flex max-sm:flex-col-reverse max-sm:items-center pt-32 md:px-10" id="sobremi">
    <div class="max-md:px-10 pb-9">
      <h1 class="text-4xl text-black dark:text-white text-bold">Sobre mí</h1>
      <p class="text-base text-black dark:text-white">
        Soy Víctor García, tengo 24 años y soy de México. 
        A los 20 años formé parte de una StartUp llamada <span class="text-pink-400">Party App</span>, que, 
        aunque ya no está en funcionamiento, me brindó una valiosa <span class="text-green-500">experiencia </span>. 
        Aprendí a utilizar WordPress para implementar un E-commerce y usé Elementor 
        para diseñar la página web. Con el tiempo, descubrí mi pasión por el desarrollo, 
        lo que me llevó a profundizar en el Front End. Ahora, quiero seguir creciendo y aportar 
        mis conocimientos para crear soluciones innovadoras.
      </p>
    </div>
    <img
      class="size-80 rounded-3xl pr-2"
      src="images/retratovictor.jpg"
      alt=""
    />
  </div>