---
import TimeLines from "../TimeLines.astro";
---
<div class="animate-fade-right max-sm:px-10 md:px-10 ">
    <h1 class="text-4xl font-bold text-white" id="experiencia">
      Experiencia Laboral
    </h1>
    <TimeLines />
  </div>