---
import Layout from "../layouts/Layout.astro";
import Section1 from "../components/sections/section-1.astro";
import Section2 from "../components/sections/section-2.astro";
import Section3 from "../components/sections/section-3.astro";
import Section4 from "../components/sections/section-4.astro";
import Footer from "../components/sections/footer.astro";
import Section5 from "../components/sections/section-5.astro";
---
<Layout title="Programador Web en villahermosa">
  <main class="lg:w-[740px] pt-20">
    <Section1/>
    <Section2/>
    <Section3/>
    <Section4/>
    <Section5/>
    <Footer></Footer>
  </main>
</Layout>
