<div class="max-w-smrounded-lg shadow ">
    <a href="https://thessaclinicaintegral.com/">
        <img class="rounded-t-lg" src="images/thessa.webp" alt="" />
    </a>
    <div class="p-5">
        <a href="https://thessaclinicaintegral.com/">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white  dark:text-white">Thessa Clínica Integral de Salud y Belleza</h5>
        </a>
        <p class="mb-3 font-normal text-base text-white dark:text-gray-400 text-pretty w-auto">Actualmente estoy desarrollando la página web para esta clínica, donde he implementado un sistema de citas que permite a los usuarios agendar fácilmente sus consultas. Además, estoy añadiendo secciones detalladas sobre los servicios, precios y otros datos relevantes. El proyecto sigue en evolución para incorporar más funcionalidades y optimizar la experiencia del usuario.
            <a href="https://thessaclinicaintegral.com/" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white">
        </a>
    </div>
</div>
