<a href="https://lingualskills.com.mx/" class="flex flex-col items-center  hover:border-2  rounded-lg shadow md:flex-row md:max-w-[800px]   transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110  duration-700 ">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-[300px] max-sm:h-auto max-sm:pt-4 md:rounded-none md:rounded-s-lg" src="images/lingualskills.webp" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white  dark:text-white">Lingual Skills</h5>
    <p class="mb-3 font-normal text-base text-white dark:text-gray-400 text-pretty w-[400px]">Desarrollé una página web interactiva para una escuela de inglés dirigida a niños, incorporando una plataforma de E-commerce que facilita la venta de cursos y libros educativos de manera sencilla y segura. La web está optimizada para brindar una experiencia amigable tanto para padres como para estudiantes, asegurando un proceso de compra rápido y eficiente</p>
    </div>
</a>


