<div class="rounded-lg shadow items-end md:flex  ">
    <div class="md:w-3/6 pr-4 pb-4"> <a href="https://thessaclinicaintegral.com/">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white  dark:text-white">Thessa Clínica Integral de Salud y Belleza</h5>
      </a>
      <a href="https://thessaclinicaintegral.com/">
        <img class="rounded-lg w-full" src="images/thessa.jpg" alt="" />
      </a>
    </div>
    <div class="md:w-3/6">
      <p class="font-normal text-base text-black dark:text-white w-auto"
      >
      Actualmente estoy desarrollando la página web para esta clínica, donde he
      implementado un sistema de citas que permite a los usuarios agendar fácilmente sus consultas. Además, estoy añadiendo secciones detalladas sobre 
      los servicios, precios y otros datos relevantes. El proyecto sigue en evolución para incorporar más funcionalidades y optimizar la experiencia del usuario.
      </p>
      <a
        href="https://thessaclinicaintegral.com/"
        class="text-sm font-medium  text-white"
      >
      </a>
    </div>
  </div>
  