<div class="max-w-sm  rounded-lg shadow">
    <a href="#">
        <img class="rounded-t-lg" src="images/lingualskills.webp" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white  dark:text-white">Lingual Skills</h5>
        </a>
        <p class="mb-3 font-normal text-base text-white dark:text-gray-400 text-pretty w-[300px]">Desarrollé una página web interactiva para una escuela de inglés dirigida a niños, incorporando una plataforma de E-commerce que facilita la venta de cursos y libros educativos de manera sencilla y segura. La web está optimizada para brindar una experiencia amigable tanto para padres como para estudiantes, asegurando un proceso de compra rápido y eficiente</p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white">
        </a>
    </div>
</div>
