<div class="rounded-lg shadow items-end  md:flex  ">
  <div class="md:w-3/6 pr-4 pb-4"> <a href="https://lingualskills.com.mx/">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white">
        Lingual Skills
      </h5>
    </a>
    <a href="https://lingualskills.com.mx/">
      <img class="rounded-lg w-full" src="images/lingualskills.jpg" alt="" />
    </a>
  </div>
  <div class="md:w-3/6">
    <p class="font-normal text-base text-black dark:text-white w-auto"
    >
      Desarrollé una página web interactiva para una escuela de inglés dirigida
      a niños, incorporando una plataforma de E-commerce que facilita la venta
      de cursos y libros educativos de manera sencilla y segura. La web está
      optimizada para brindar una experiencia amigable tanto para padres como
      para estudiantes, asegurando un proceso de compra rápido y eficiente
    </p>
    <a
      href="https://lingualskills.com.mx/"
      class="text-sm font-medium  text-white"
    >
    </a>
  </div>
</div>
