<div class="rounded-lg  items-end  md:flex pt-5">
    <div class="md:w-3/6 pr-4 pb-4"> <a href="https://lingualskills.com/" target="_blank">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-black  dark:text-white">Lingual Skills | Landing Page</h5>
    </a>
    <a href="https://lingualskills.com/" target="_blank">
      <img class="rounded-lg w-full" src="images/imgLingualSKills.png" alt="" />
    </a>
  </div>
  <div class="md:w-3/6">
    <p class="font-normal text-base text-black dark:text-white w-auto"
    >
Diseñé la landing page de Lingual Skills, una escuela de inglés para hispanohablantes en Estados Unidos que trabajan en construcción. Creé un diseño responsivo y atractivo, optimizado para captar leads mediante un formulario, destacando los beneficios del aprendizaje de inglés. El enfoque fue mejorar la conversión y adaptarlo a las necesidades del público objetivo.
  </p>
    </div>
  </div>
  