
<header class="flex justify-center items-center w-[1200px] max-sm:w-96 pt-16 sticky top-0 z-50 animate-fade-down animate-delay-800 ">
  <nav class="p-2 max-sm:text-xs rounded-full border-2 border-transparent space-x-5 bg-transparent shadow-none text-violet-100 px-10 " id="scrolling">
    <a href="#inicio">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobremi">Sobre Mí</a>
  </nav>
</header>
<script>
  const header = document.getElementById('scrolling');
  
  window.addEventListener('scroll', function() {
    if (window.scrollY > 50) {  // Ajusta este valor para que el cambio ocurra a tu gusto
      header.classList.add('bg-purple-950', 'border-violet-100', 'shadow-lg', 'shadow-violet-600');
      header.classList.remove('bg-transparent', 'shadow-none');
    } else {
      header.classList.add('bg-transparent', 'shadow-none');
      header.classList.remove('bg-purple-950', 'border-violet-100', 'shadow-lg','shadow-violet-600');
    }
  });
  
</script>

