
<ol class="relative border-s border-gray-200 dark:border-gray-700">              
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Jun 2024</time>
        <h3 class="text-lg font-semibold text-black dark:text-white">Lingual Skills</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Desarrollé la página
            web de esta escuela de inglés, creando un front-end atractivo y funcional. Mi enfoque se centró en 
            proporcionar una experiencia de usuario intuitiva que facilite el aprendizaje y la navegación en la plataforma.</p>
    </li>
    <li class="ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Oct 2020 - Ene 2022</time>
        <h3 class="text-lg font-semibold text-black dark:text-white">Wordpress Dev | Party App</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">En este marketplace para fiestas, fui responsable de construir el front-end desde las etapas iniciales. Diseñé una interfaz amigable y 
            visualmente atractiva, asegurando una experiencia de usuario fluida y funcional.</p>
    </li>
</ol>

