<a href="https://thessaclinicaintegral.com/" class="flex flex-col  items-center   rounded-lg shadow md:flex-row md:max-w-[800px]  dark:border-gray-700 dark:bg-gray-800 hover:border-2 dark:hover:bg-gray-700 transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110  duration-700 ...">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-[300px] max-sm:h-auto  max-sm:pt-4 md:rounded-none md:rounded-s-lg" src="/src/images/Macbook-Air-thessaclinicaintegral.com.webp" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white  dark:text-white">Thessa Clínica Integral de Salud y Belleza</h5>
        <p class="mb-3 font-normal text-base text-white dark:text-gray-400 text-pretty w-auto">Actualmente estoy desarrollando la página web para esta clínica, donde he implementado un sistema de citas que permite a los usuarios agendar fácilmente sus consultas. Además, estoy añadiendo secciones detalladas sobre los servicios, precios y otros datos relevantes. El proyecto sigue en evolución para incorporar más funcionalidades y optimizar la experiencia del usuario.
        </p>
    </div>
</a>
