---
import Header from "../components/Header.astro";
import "@fontsource-variable/lexend";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="brandvicdev.svg" />
    <meta name="generator" content={Astro.generator} />
    <link href="./output.css" rel="stylesheet" />
    <title>{title}</title>
    <meta name="description" content="Ofrezco desarrollo de páginas web profesionales, landing pages y sistemas de citas. Ubicado en Villahermosa. Contacta ahora.">
    <meta name="keywords" content="desarrollo web, páginas web, landing pages, sistemas de reservas, portafolio dev victor garcia">


  </head>
  <body>
    <div
      class="absolute top-0 z-[-2] h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,#2E0042,rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  body {
    width: 100%;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Lexend Variable", sans-serif;
  }
</style>
